 <div class="user-details">
  <h1> {{site.user_description}} </h1>
  <p> New content coming soon </p>
  <p> Archived content still available <a href="https://github.com/athletedecoded/athletedecoded.com/tree/main/_posts" target="_blank">here</a></p>
</div>
  <div class="user">
    <div class="tech">
      <h2>AI Driven Social Change</h2>
      <i class="fa fa-globe"></i>
      <!-- <i class="fa fa-handshake"></i>
      <i class="fa fa-tint"></i> -->
      <!-- <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>High Performance Sports Tech</h2>
      <i class="fa fa-rocket"></i>
      <!-- <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Computer Vision</h2>
      <i class="fa fa-bolt"></i>
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
