 <div class="user-details">
  <h1> {{site.user_description}} </h1>
  <!-- <p> Archived content still available <a href="https://github.com/athletedecoded/athletedecoded.com/tree/main/_posts" target="_blank">here</a></p> -->
</div>
  <div class="user">
    <div class="tech">
      <h2>AI Driven Social Change</h2>
      <i class="fa fa-globe" style="color:#1a222c"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>Computer Vision</h2>
      <i class="fa fa-bolt" style="color:#1a222c"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>High Performance Sports Tech</h2>
      <i class="fa fa-rocket" style="color:#1a222c"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
</div>
