<div class="user-details">
  <h1> Portfolio </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/me.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> In My Words </h3>
    <p> "My experiences in football have instilled a grit and resilience that have no doubt contributed to my off-field academic success and the opportunity to be a Fulbright scholar."  </p>
    <a class="project-link" href="http://pfa.net.au/in-my-words/in-my-words-kahlia-hogg-professional-footballer-and-fulbright-scholar/">Article</a>
  </div>
</div>
<hr>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/boots.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> What Boots </h3>
    <p> What Boots predicts the brand and model of your football boots using a custom trained image classifier </p>
    <a class="project-link" href="https://github.com/athletedecoded/what-boots">Github</a>
    <a class="project-link" href="https://what-boots.herokuapp.com/">Heroku App</a>
  </div>
</div>
<hr>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/lego.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 100 Days Of Code </h3>
    <p> Follow along as I Level-Up in 2022 </p>
    <a class="project-link" href="https://github.com/athletedecoded/100-days-of-code">Github</a>
  </div>
</div>
<hr>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/space.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Knowledge Base </h3>
    <p> Sharing the best resources I've curated along my learning journey </p>
    <a class="project-link" href="https://github.com/athletedecoded/knowledge-base">Github</a>
  </div>
</div>
<!-- <hr>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
